.found__content {
    margin: 100px 0px;
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(2, 1fr);
}

.found__content-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.found__content-img-boxed {
    overflow: hidden;
}

.found__content-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.found__content-img-boxed:nth-child(1) {
    background: #FFCB28;
    width: 257px;
    height: 297px;
    border-radius: 100px 16px 16px 16px;
    padding-top: 20px;

}

.found__content-img-boxed:nth-child(2) {
    background: #FFEFBC;
    width: 386px;
    height: 230px;
    border-radius: 16px 100px 16px 16px;
    margin-top: 150px;
}

.found__content-img-boxed:nth-child(3) {
    background: #8B91BE;
    width: 213px;
    height: 300px;
    border-radius: 100px;
    margin-top: -58px;
}

.found__content-img-boxed:nth-child(4) {
    background: #F9F9FB;
    height: 214px;
    width: 214px;
    border-radius: 100px;
    margin-top: 24px;
}

.found__content-img-boxed:nth-child(5) {
    background: #453FE1;
    width: 182px;
    height: 348px;
    border-radius: 16px 16px 100px 16px;
    margin-top: 24px;
}

.found__content-img-boxed:nth-child(6) {
    background: #FFFAEA;
    width: 451px;
    height: 230px;
    border-radius: 16px 16px 16px 100px;
    margin-top: -110px;
}

.found__content-infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.found__content-infos-title {
    font-family: Raleway-bold;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 0%;
    color: var(--text-bg);
    margin-bottom: 16px;
}

.found__content-infos-title--free {
    color: var(--accent-color);
    text-transform: uppercase;
}

.found__content-infos-text {
    font-family: Raleway-medium;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
    color: var(--text-bg);
    margin-bottom: 16px;
}

.found__content-infos-btn {
    font-family: Inter-Medium;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0%;
    color: var(--text-bg);
    padding: 14px 20px;
    border: 1px solid var(--accent-color);
    border-radius: var(--border-radius);
    background: #fff;
    margin-bottom: 40px;
    cursor: pointer;
}